// colors
$font-color--dark: #333;
$font-color--light: #999;
$background--light: #eee;
$background--dark: #222;

// spacing
$pad: 20px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;